<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Новый пользователь</title>
</head>
<body>
<p><form action="/logout"><input type="submit" value="Logout"></form></p>
<h1>Добавить пользвателя</h1>
<form action="#" th:action="@{/admin/create}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label for="name">ФИО</label></td>
            <td><input type="text" th:field="*{name}" id="name" placeholder="введите ФИО"></td>
        </tr>
        <tr>
            <h1>
                <td><label for="username">Логин</label></td>
                <td><input type="text" th:field="*{username}" id="username" placeholder="введите Логин"></td>
            </h1>
        </tr>
        <tr>
            <td><label for="email">Почта</label></td>
            <td><input type="text" th:field="*{email}" id="email" placeholder="введите email"></td>
        </tr>
        <tr>
            <td><label for="password">Пароль</label></td>
            <td><input type="password" th:field="*{password}" id="password" placeholder="введите Пароль"></td>
        </tr>
        <tr>
            <td>
                <label for="roles">Выберите роли:</label>
            </td>
            <td>
                <select th:object="${roles}" size="2" name="listRoles" id="roles" multiple>
                    <div th:each="role : ${roles}">
                        <option th:value="${role.getRoleName()}"
                                th:text="${role.getRoleName().substring(5)}">
                        </option>
                    </div>
                </select>

            </td>
        </tr>
    </table>
    <p><input type="submit" value="Создать"></p>
</form>
<p><form action="/admin/admin"><input type="submit" value="Отмена"></form></p>
</body>
</html>