<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Edit User</title>
</head>
<body>
<p><form action="/logout"><input type="submit" value="Logout"></form></p>
<h1>Редактирование пользователя</h1>

<form action="#" th:action="@{/update}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label for="id">ID</label></td>
            <td><input readonly type="number" th:field="*{id}" id="id"></td>
        </tr>
        <tr>
            <td><label for="name">ФИО</label></td>
            <td><input type="text" th:field="*{name}" id="name"></td>
        </tr>
        <tr>
            <td><label for="username">Ник</label></td>
            <td><input type="text" th:field="*{username}" id="username"></td>
        </tr>
        <tr>
            <td><label for="email">Почта</label></td>
            <td><input type="text" th:field="*{email}" id="email"></td>
        </tr>
        <tr>
            <td><label for="password">Пароль</label></td>
            <td><input type="password" th:field="*{password}" id="password"></td>
        </tr>
        <tr>
            <td>
                <label for="roles">Выберите роли:</label>
            </td>
            <td>
                <select th:object="${roles}" size="2" name="listRoles" id="roles" multiple>
                    <div th:each="role : ${roles}">
                        <option th:value="${role.getRoleName()}"
                                th:text="${role.getRoleName().substring(5)}"
                                th:selected="${user.getRoles().contains(role)}">
                        </option>
                    </div>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Обновить">
</form>
<p><form action="/admin/admin"><input type="submit" value="Отмена"></form></p>
</body>
</html>